.active {
  color: #666;
  text-decoration: underline;
}

/* Add CSS styles for responsiveness */
@media (max-width: 640px) {
  .flex-wrap {
    flex-direction: column;
  }

  .space-x-1 {
    margin-top: 1rem;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .flex-wrap {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Add more media queries for other screen sizes as needed */